* {
    box-sizing: border-box;
}
body{
	background-color: #eee;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    background-color:#04BAFB;
    padding: 25px;
}
.sidenav input{
    border-radius:25px;
    width:150px;
    cursor:pointer;
}
.content {
   margin-left: 200px;
   padding-left: 20px;
}
h2 {
   font-size: 48px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
.brand-logo {
  height: 100px;
  width: 100px;
  background: url("Image/CU1.jpg");
  background-size: 80px 50px;
  background-position: center center;
  background-repeat:no-repeat;
  border-radius: 50%;
  background-color:white;
  box-shadow: 7px 7px 10px #2B7BD4;
  padding:  50px 75px 100px;
}
p {
   font-size: 28px;
   font-weight: 100;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 20px 0 30px;
}
.card{
	background-color: #fff;
	width: 280px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}

.name{
	font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
	text-transform: uppercase;
}
.middle-container{
	background-color: #eee;
	border-radius: 12px;

}
.middle-container:hover {
	border: 1px solid #5957f9;
}
.icon-background{
	background-color: #5957f9;
	padding: 12px;
	border-radius: 10px;
}
.icon{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.Account-info{
	font-size: 15px;
	color: #272727;
	font-weight: bold;
}
.Account-info-result{
	color: #5957f9;
	font-size: 16px;
	font-weight: bold;
}
.sign{
	font-size: 16px;
	color: #272727;
	font-weight: bold;
}
